html, body {
    height: 100%;
    margin: 0px;
  }
body.page1{
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
}
.content{
    max-width: 700px;
    min-height: 100vh;
    margin: auto;
    background-color: #23231e;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  
}

.logo{
    max-width: 750px;  
    height: 450px; 
    margin-top: 20px;

}
div.img{
    
    max-height: 100%;
    width: 200%;
    
}



.menu{
    text-align: center;
}
.hover-text{
    font-size: 200%;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    color: #f9e563;
    font-weight: 1000;
     transition: color 0.3s ease
}
.hover-text:hover {
    color: rgb(195, 25, 53) 
  }
.desclist{
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    color: rgb(99, 98, 98);
    font-style: italic;
    padding: 10px;
    margin: 10px;
    background-color: rgb(249, 237, 221);
    background-repeat: no-repeat;
    background-size: auto;
}
.container{
    display: flexbox;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
}
.navbar .dropdown-menu {
    background-color: #23231e; 
    border: none; 
    transition: all 0.3s ease ; 
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden; 
  }
  
  .navbar .dropdown-menu.show {
    opacity: 1; 
    transform: translateY(0); 
    visibility: visible; 
  }
  
  .navbar .dropdown-item {
    color: #f9e563; 
    padding: 10px 20px; 
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .navbar .dropdown-item:hover {
    background-color: #f9e563; 
    color: #23231e; 
  }