html, body {
    height: 100%;
 
  }
body.page1{
   background-color:#F8F3D4 ;
    background-size: cover;
    background-position: center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
}

.header{
  display: flex;
flex-direction: row;
padding: 10px 20px ;
position:sticky ;
}
.outside{
  display: block;
  align-items: center;
}
.wrap1{
       display: flex;
       flex-direction: row;
}
#fonti{
  font-size: 40px;
}
.begin{
       font-family: Dancing Script;
       font-style: italic;
       font-size: 38px;
       margin-left: 10%;
       text-align: center;
       margin-top: 1%;
       color: black;
       text-decoration: none;
      transition: color 0.3s ease, text-shadow 0.2s ease;
      }
      .bf{
        display: flex;
      flex-direction: row;
      gap: 10px;
      margin-top: 10%;
      }
      .begin:hover{
        color: #5F806E; 
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
      }
      .second{
        display: flex;
        flex-direction: row;
        color: black;
        text-decoration: none;
       transition: color 0.3s ease, text-shadow 0.2s ease;
      }
      .second:hover{
        color: #5F806E; 
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      }

.navbar-brand:hover{
  color:#5F806E;
}
.nav-link:hover{
  color:#5F806E}

  .navbar-nav{
    display: flex;
  flex-direction: row;
  margin-right: 350px;
  margin-top: 30px;
}


.navbar .dropdown-menu {
    background-color: #23231e; 
    border: none; 
  
  }
 

.menu{
    text-align: center;
    
}
.hover-text{
    font-size: 200%;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    color: #5F806E;
    font-weight: 1000;
    
    
}
.hover-text:hover {
    color: #f9e563;
  }
.desclist{
    letter-spacing: 2px;
    padding: 10px;
    margin: 5px;
    font-size: large;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    color: #5F806E;
    font-style: italic;
    
    background-color:#F8F3D4;
    background-repeat: no-repeat;
    background-size: auto;
    list-style-type: none;
    
}
.desclist1{
letter-spacing: 2px;
    padding: 10px;
   
    font-size: large;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    color: #5F806E;
    font-style: italic;
    margin-left: 20px;
    padding-left: 250px;
    margin-top: 0px;
    margin-bottom: 500px;
    background-color:#F8F3D4;
    background-repeat: no-repeat;
    background-size: auto;
    list-style-type: none;}
    
.desclist:hover{
    background-color: #fef7cd;
    color:rgb(99, 98, 98);
}
.desclist1:hover{
  background-color: #fef7cd;
  color:rgb(99, 98, 98);
}
.description{

  text-align:center;
 
}
.container{
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
    
  

}
  
.container2{
  margin-top:150px;
  display: flex;
  padding-right: 200px;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
  text-align: center;
  

}
.container3{
  margin-top:50px;
  display: flex;
  padding-right: 150px;
  align-items: center;
  margin-right: 30px;
  text-align: center;}

  .container4{
  
    display: flex;
    align-items: center;
    margin-right: 30px;
    text-align: center;}
  

  body.page2{
    background-color: #F8F3D4 ;
  }
#pasta{ transition: opacity 0.5s ease-in-out;
}
  
body.page3{
    background-color: #F8F3D4;
}

body.page4{
  background-color: #F8F3D4;
}

.form{

  font-size: 30px;
  font-family: Dancing Script;
  color: #5F806E;
  width: 30%;
  border: #5F806E; border: 2px dashed #5F806E ;
  margin-left: 500px;
  border-radius: 10px; 
  

}
.groupform{
  display: flex;            
  align-items: center;      
  margin-bottom: 15px;
  margin-top: 2%;
 
}